{% extends "backend/list_layout.html" %}

{% block partial_tr_item %}
{%- set list = context[scaffolding.plural] -%}
{% for item in list %}
    {% if item.level < 1000 or (application_user_key == item.key) -%}
    <tr id="node_{{ item.sort }}" class="record_item"
        {% if uri_exists_with_permission(action="view", item=item) %}data-view-url="{{ uri_action_link('view', item) }}"{% endif %}
        {% if uri_exists_with_permission(action='edit', item=item) and application_user_level >= item.level or application_user_key == item.key %}data-edit-url="{{ uri_action_link('edit', item) }}"{% endif %}
        {% if uri_exists_with_permission(action='delete', item=item) and (application_user_level >= item.level and application_user_key != item.key) %}data-delete-url="{{ uri_action_link('delete', item) }}"{% endif %}
        data-id="{{ print_key(item) }}">
        <td class="text-center sorting-mode move-headline">
            {% if uri_exists_with_permission(action="sort_up", item=item) %}<a href="{{ uri_action_link('sort_up', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_up</i></a>{% endif %}
            <i class="icon icon-2x">view_headline</i>
            {% if uri_exists_with_permission(action="sort_down", item=item) %}<a href="{{ uri_action_link('sort_down', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_down</i></a>{% endif %}
        </td>
        {% for property in scaffolding.display_in_list -%}
        <td>{%- if property.find("is_") >= 0 %}
            {%- if property.find("is_enable") >= 0 and application_user_key != item.key %}
            <div class="checkbox checkbox-success">
                <input type="checkbox" {% if item[property] %}checked{% endif %} id="{{ print_key(item) }}"
                       class="btn-checkbox-json"
                       data-enable-url="{{ uri_action_link('set_boolean_field', item) }}?field={{ field_name }}&value=true"
                       data-disable-url="{{ uri_action_link('set_boolean_field', item) }}?field={{ field_name }}&value=false"
                >
                <label for="{{ print_key(item) }}">{{ s.scaffold_field_name("short_" + property) }}</label>
            </div>{% else %}{% endif %}
            {% else -%}{{ print_value(item[property]) }}{%- endif -%}
        </td>
        {% endfor -%}
    </tr>
    {%- endif %}
{% endfor -%}
{% endblock %}

{% block layout_buttons %}
    {%- if scaffolding %}
        {% if uri_exists_with_permission(action="add") -%}
            <a href="{{ uri_action_link('add') }}" class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light"><span class="fbtn-text fbtn-text-left">{{ s.scaffold_title("add") }}</span><span class="icon icon-lg">edit</span></a>
        {%- endif -%}
    {%- endif %}
{% endblock %}
