{% extends "backend/list_layout.html" %}

{% block partial_tr_item %}
{%- set list = context[scaffolding.plural] -%}
{% for item in list %}
    {% if item.level < 1000 or (application_user_level > 1000 and item.level > 1000) -%}
    <tr id="node_{{ item.sort }}" class="record_item"
        {% if uri_exists_with_permission(action="view") %}data-view-url="{{ uri_action_link('view', item) }}"{% endif %}
        {% if uri_exists_with_permission(action='edit') and application_user_level >= item.level %}data-edit-url="{{ uri_action_link('edit', item) }}"{% endif %}
        {% if uri_exists_with_permission(action='delete') and application_user_level >= item.level and application_user_role != item.key %}data-delete-url="{{ uri_action_link('delete', item) }}"{% endif %}
        data-id="{{ print_key(item) }}">
        <td class="text-center sorting-mode move-headline">
            {% if uri_exists_with_permission(action="sort_up") %}<a href="{{ uri_action_link('sort_up', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_up</i></a>{% endif %}
            <i class="icon icon-2x">view_headline</i>
            {% if uri_exists_with_permission(action="sort_down") %}<a href="{{ uri_action_link('sort_down', item) }}" class="btn-json"><i class="icon icon-2x">keyboard_arrow_down</i></a>{% endif %}
        </td>
        {% for property in scaffolding.display_in_list -%}
        <td>{%- if property.find("is_") >= 0 %}
            <div class="checkbox checkbox-success">
                <input type="checkbox" {% if item[property] %}checked{% endif %} id="{{ print_key(item) }}"
                       class="btn-checkbox-json">
                <label for="{{ print_key(item) }}">{{ s.scaffold_field_name("short_" + property) }}</label>
            </div>
            {% else -%}{{ print_value(item[property]) }}{%- endif -%}
        </td>
        {% endfor -%}
        <td class="text-right print-hide">
            {% if uri_exists_with_permission(action='action_permissions', item=item) and application_user_level >= item.level %}<a href="{{ uri_action_link('action_permissions', item) }}" class="btn btn-white btn-sm"><i class="fa fa-shield"></i> 權限 </a>{% endif %}
        </td>
    </tr>
    {%- endif %}
{% endfor -%}
{% endblock %}