{% import "backend/macros.html" as s with context %}
{%- if scaffolding -%}
    <div class="dropdown list-operations related-operations hide">
        <a class="dropdown-toggle text-black waves-attach padding-left-no padding-right-no waves-effect btn btn-white"
           data-toggle="dropdown">
            <span><i class="icon icon-lg">arrow_drop_down</i></span>
            <span>相關操作</span>
        </a>
        <ul class="dropdown-menu folder-list ">
            {%- if route.action != 'add' -%}
            {%- if not item %}{%- set item = context[scaffolding.singular] -%}{% endif -%}
            {% if uri_exists_with_permission(action="view", item=item) and route.action == 'edit' and application_user_level >= item.level %}<li><a href="{{uri_action_link('view', item)}}" class="view-url" target="aside_iframe"><i class="fa fa-angle-right"></i>  檢視此項目 </a></li>{% endif %}
            {% if uri_exists_with_permission(action='edit', item=item) and route.action == 'view' and application_user_level >= item.level %}<li><a href="{{uri_action_link('edit', item)}}" class="edit-url" target="aside_iframe"><i class="fa fa-angle-right"></i>  編輯此項目 </a></li>{% endif %}
            {% if uri_exists_with_permission(action='action_permissions', item=item) and application_user_level >= item.level %}<li><a href="{{uri_action_link('action_permissions', item)}}" target="aside_iframe"><i class="fa fa-angle-right"></i> 修改權限 </a></li>{% endif %}
            {%- endif -%}
            {% for nav_item in scaffolding.navigation -%}
            {% if uri_exists_with_permission("admin:" + scaffolding.singular + ":" + nav_item.action, item=item) %}
            <li><a href="{{uri_action_link(nav_item.action, item)}}" target="aside_iframe"><i class="fa fa-angle-right"></i> {{ nav_item.title }} </a></li>
            {% endif %}
            {% endfor -%}
        </ul>
    </div>
{%- endif %}
