{% extends "backend/form.html" %}

{% block layout_header -%}{% endblock %}
{% block layout_before_content -%}
<div class="ibox-content m-b-sm border-bottom">
    <div class="p-xs">
        <div class="pull-left m-r-md">
            <i class="material-icons mid-icon brand-text-color">lock</i>
        </div>
        <h2>角色權限管理 - {{ item.title }}</h2>
        <span>針對特定角色給與操作的權限，組件名稱名稱後面之核選方塊為 (啟用/停用) 該組件的權限。 </span><br />
    </div>
</div>
{% endblock %}

{% block layout_content %}
{% set list = context[scaffolding.plural] %}
<div class="wrapper wrapper-content">
    <div class="row action-permissions-operations">
        <div class="mail-box sortable-list margin-0">
            <table class="table table-hover margin-0">
            <thead>
            <tr>
                <th data-field="plugin" class="text-center">組件名稱</th>
                <th data-field="group" class="text-center">子功能</th>
                <th data-field="list" class="text-center">列表</th>
                <th data-field="add" class="text-center">新增</th>
                <th data-field="view" class="text-center">檢視</th>
                <th data-field="edit" class="text-center">編輯</th>
                <th data-field="delete" class="text-center">刪除</th>
                <th data-field="other" class="text-center">其它</th>
            </tr>
            </thead>
            <tbody>
            {% for item_model in list %}
                <tr>
                    <td class="text-left"><strong>{{ item_model.name }}</strong>{% if item_model.plugins_check %}
                        <input type="checkbox" {% if item_model.plugins_check.enable %}checked{% endif %} id="ro-field-{{ item_model.plugins_check.checkbox_id }}" data-uri="{{ item_model.plugins_check.uri }}">
                        <label for="ro-field-{{ item_model.plugins_check.checkbox_id }}"><b class="text-success"></b></label>{% endif %}</td>
                    <td colspan="7" class="text-left">{{ item_model.desc }}</td>
                </tr>
                {% for item in item_model.controllers %}
                <tr>
                    <td class="text-left"></td>
                    <td class="text-left"><b class="text-success">{{ item.group }}</b></td>
                    <td class="text-left">{% if item.add %}
                        <input type="checkbox" {% if item.add.enable %}checked{% endif %} id="ro-field-{{ item.add.checkbox_id }}" data-uri="{{ item.add.uri }}">
                        <label for="ro-field-{{ item.add.checkbox_id }}">{{ item.add.name }}</label>{% endif %}</td>
                    <td class="text-left">{% if item.list %}
                        <input type="checkbox" {% if item.list.enable %}checked{% endif %} id="ro-field-{{ item.list.checkbox_id }}" data-uri="{{ item.list.uri }}">
                        <label for="ro-field-{{ item.list.checkbox_id }}">{{ item.list.name }}</label>{% endif %}</td>
                    <td class="text-left">{% if item.edit %}
                        <input type="checkbox" {% if item.edit.enable %}checked{% endif %} id="ro-field-{{ item.edit.checkbox_id }}" data-uri="{{ item.edit.uri }}">
                        <label for="ro-field-{{ item.edit.checkbox_id }}">{{ item.edit.name }}</label>{% endif %}</td>
                    <td class="text-left">{% if item.view %}
                        <input type="checkbox" {% if item.view.enable %}checked{% endif %} id="ro-field-{{ item.view.checkbox_id }}" data-uri="{{ item.view.uri }}">
                        <label for="ro-field-{{ item.view.checkbox_id }}">{{ item.view.name }}</label>{% endif %}</td>
                    <td class="text-left">{% if item.delete %}
                        <input type="checkbox" {% if item.delete.enable %}checked{% endif %} id="ro-field-{{ item.delete.checkbox_id }}" data-uri="{{ item.delete.uri }}">
                        <label for="ro-field-{{ item.delete.checkbox_id }}">{{ item.delete.name }}</label>{% endif %}</td>
                    <td class="text-left">{% for act in item.actions %}{% if act.action not in ["list", "add", "view", "edit", "delete", "plugins_check"] %}
                        <input type="checkbox" {% if act.enable %}checked{% endif %} id="ro-field-{{ act.checkbox_id }}" data-uri="{{ act.uri }}">
                        <label for="ro-field-{{ act.checkbox_id }}">{{ act.name }}</label>{% endif %}{% endfor %}</td>
                </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block layout_scripts -%}
    {% if uri_exists_with_permission(action="permissions_set_json", item=item) %}
    <script type="text/javascript">
        (function(page){
            page["afterLoad"] = function(){
                $('.action-permissions-operations input[type=checkbox]').change(function() {
                    var id = $(this).attr("id").replace("ro-field-", "");
                    var val = $(this).is(":checked");
                    console.log(id, val);
                    json("{{ uri_action_link('permissions_set_json') }}", "role_key={{ item_key }}&uri=" + $(this).data("uri") + "&enable=" + val, function (data) {
                        message.snackbar(data.message);
                    })
                });
            };
        })(page);
    </script>
    {% endif %}
{%- endblock %}
